:root {
  --primary-color: #e2ea7f;
  --btn-color: black;
}

body {
  padding: 0;
  margin: 0;
  background-color: #350f4a;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#root {
  top: 100px;
  max-width: 50%;
  min-width: 50%;
  min-height: 70vh;
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: #8e1255;
  border-radius: 10px;
}

/* btn */

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-color);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #root {
    max-width: 90%;
  }
}
